{% extends "layouts/base.html"%}

{% block content %}
<div class="container p-3">
    <div class="row justify-content-center">
      <div class="col-6  m-5">
        <h2>Seleccione un rango de fechas</h2>
        <form id="form-1" method="POST">
          {% csrf_token %}
          
          <label for="select-1">Fecha inicio: </label>
          <select class="form-select  m-3" aria-label="Default select example" name="select-1" id="select-1">
            {% for Fecha in Fechas %}
            <option value="{{Fecha.Dia}}/{{Fecha.Mes}}/{{Fecha.Anio}}">{{Fecha.Dia}}/{{Fecha.Mes}}/{{Fecha.Anio}}</option>
            {%endfor%}  
          </select>
          <label for="select-2">Fecha fin: </label>
          <select class="form-select  m-3" aria-label="Default select example" name="select-2" id="select-2">
            {% for Fecha in Fechas %}
            <option value="{{Fecha.Dia}}/{{Fecha.Mes}}/{{Fecha.Anio}}">{{Fecha.Dia}}/{{Fecha.Mes}}/{{Fecha.Anio}}</option>
            {%endfor%}  
          </select>
          <br><br>
          <button type="submit" class="btn btn-dark">Submit</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}